# ===============================
# OS / Editor
# ===============================
.DS_Store
.vscode/
.idea/

# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.log
.env
.env.*
venv/
.venv/

# SQLite
*.db

# ===============================
# Node / React
# ===============================
node_modules/
dist/
build/

# ===============================
# Misc
# ===============================
coverage/
